@import '../../../generalStyles/variables.scss';

.link {
    margin-right: 20px;
}

.nav-link-desktop {
    margin-right: 2em!important;
    color: $link-color!important;
    &:hover {
        color: $link-hover-color!important;
    }
}

.nav-link-desktop-active {
    margin-right: 2em!important;
    color: $link-active-color!important;
}